.panels__widget--item {
  background-color: hsl(var(--panels__widget--color), 100%, 20%);
  text-decoration: none;
  padding: var(--spacing-2);
  border-radius: var(--radius-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-1);
  color: var(--color-textPrimary);
  scroll-snap-align: start;
}

.panels__widget--item__icon {
  background-color: hsl(var(--panels__widget--color), 100%, 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: var(--spacing-1);
}


.panels__widget--item__name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: var(--spacing-2);
}

.panels__widget--item:hover {
  background-color: hsl(var(--panels__widget--color), 100%, 30%);
  > .panels__widget--item__icon {
    background-color: hsl(var(--panels__widget--color), 100%, 80%);
    > svg {
      color: hsl(var(--panels__widget--color), 100%, 30%);
    }
  }
  > .panels__widget--item__name > svg {
    color: hsl(var(--panels__widget--color), 100%, 80%);
  }
}
