*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

button, input, select, textarea {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}