.AddDialogBox {
  position-anchor: --body;
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  max-width: 75dvw;
  max-height: 90dvh;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-background);
  border-radius: 12px;
  z-index: 1;
}

.HeaderDialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderDialog > span {
  margin-block: 1.25rem;
}

.HeaderDialog > button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.CategoriasDialog {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  overflow-x: auto;
}

.CategoriasDialog > button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border: solid var(--color-border) 4px;
  background-color: transparent;
  border-radius: 8px;
  font-size: 1.2rem;
}

.CategoriasDialog > button:active {
  transform: scale(0.95);
}

.CategoriasDialog > button.selected {
  background-color: var(--color-borderHover);
}

.CategoriasDialog > button:hover {
  transform: scale(1.05);
}

.ContentDialog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}

.ContentDialog-Item{
    
}
